.container-fluid {
    background-color: yellow;
}

.two {
    position: absolute;
    left: 50%;
    margin: 10px;

    transform: translateX(-50%);
}

.box {
    border: 1px solid black;
}

header {
    height: 150px;
    background-color: blue;
}

nav {
    height: 40px;
    background-color: green;
}

main, aside {
    height: 200px;

}

main > main {
    background-color: red;
}

aside {
    background-color: aqua;
}

footer.promos, footer.promos > div {
    height: 150px;
    background-color: orange;
}

.footer {
    height: 40px;
    background-color: black;
    color: antiquewhite;
}